<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.email %>
      </h1>
      <% if @user.role == 'company' %>
        <%= link_to "Create Job", new_user_job_path(@user) %>
      <% else %>
        <%= link_to "Show Jobs", jobs_path %>
      <% end %>
      <% if @jobs_created.count > 0 %>
        <%= link_to "My Jobs", user_jobs_path(@user) %>
      <% end %>
    </section>
  </aside>
</div>